<%- include ./layout/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="alert alert-warning" role="alert">
        This is a demo of NodeJS + ExpressJS and AngularJS. All database records are <b>destroyed</b> upon server reboot!
    </div>

<%- include ./layout/footer.ejs %>