<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%-include layout/includes.ejs%>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>

  <a href="/users/all">See all users</a>
</html>
