<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="dendroApp" ng-animate="'animate'">
<head>

    <%-include ../layout/includes.ejs %>

    <title>
        LBAW ExpressJS Demo
    </title>

</head>

<body>

<h1><%=title%></h1>

<form action="/users/new" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" id="username" class="form-control" placeholder="Username" value="joao">
    </div>

    <div class="form-group">
        <label for="firstname">First name</label>
        <input name="firstname" id="firstname" class="form-control" placeholder="First Name" value="João">
    </div>

    <div class="form-group">
        <label for="surname">Surname</label>
        <input name="surname" id="surname" class="form-control" placeholder="Surname" value="Rocha">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>

</body>
