<%-include ../layout/header.ejs %>

<div ng-controller="usersCtrl" ng-init="init()">

    <h1><%=title%></h1>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" placeholder="Username" ng-model="username">
        </div>

        <div class="form-group">
            <label for="firstname">First name</label>
            <input id="firstname" class="form-control" placeholder="First Name" ng-model="firstname">
        </div>

        <div class="form-group">
            <label for="surname">Surname</label>
            <input id="surname" class="form-control" placeholder="Surname" ng-model="surname">
        </div>

        <button type="button" class="btn btn-default" ng-click="create_user()">Submit</button>
    </form>

</div>

<%-include ../layout/footer.ejs %>